{% load static %}
    <!DOCTYPE html>
    <html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Exposições</title>
        <link rel="stylesheet" href="{% static 'museu-matematica/css/styles.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap" rel="stylesheet">
    </head>

    <body>
        <!-- header do site -->
        {% include 'museu_matematica/header.html' %}
        <div class ="hellotext_wrapper">
        <h3>Olá, {% firstof user.username "visitante" %}!</h3>
        <h1 class="exposicoes_text">Exposições</h1>
        </div>
        <div class="exp_container">
            {% for exposicao in exposicoes %}
            <div class="exp_card">
                <img src="{% static 'museu-matematica/images/exposicao.jpg' %}">
                <p class="exp_card_title">{{exposicao.titulo}}</p>
                <p>{{exposicao.descricao}}</p>
                <div class="exp_buttons">
                    <!--se usuário não está autenticado-->
                    {% if not request.user.is_authenticated %}
                        <h4>Faça login para reservar</h4>
                    {% else %}
                        {% if request.user.is_superuser %}
                            <button>Editar</button>
                            <button>Excluir</button>
                        {% else %}
                        <form action="{% url 'reservar' pk=exposicao.id %}">
                            <input type="submit" value="Reservar" />
                        </form>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            {% empty %}
            <h3>Nenhuma exposição cadastrada, volte mais tarde!</h3>
            {% endfor %}
        </div>
    </body>
    </html>