{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Museu da Matemática do Rio de Janeiro</title>
    <link rel="stylesheet" href="{% static 'museu-matematica/css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="structure">

        <!-- header do site -->
        {% include 'museu_matematica/header.html' %}

        <section class="headline">
            <h1>Nossa missão é mostrar que números também podem ser arte.</h1>
        </section>

        <section class="description">
            <p>O Museu da Matemática é o primeiro museu do Rio de Janeiro dedicado inteiramente ao mundo das ciências exatas e numéricas. Contamos com inúmeras exposições para todas as faixas etárias. Explore o site para conhecer nosso trabalho, faça login para reservar exposições, e venha nos fazer uma visita!</p>
        </section>

        <footer class="footer">

        </footer>
        
    </div>
</body>
</html>