{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Museu da Matemática do Rio de Janeiro</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="structure">
        <header class="header">
            <!--- logo aqui --->
            <img src="" />
            <div class="menu">
                <a>Sobre</a>
                <a>Exposições</a>
                <a>Equipe</a>
            </div>
        </header>
        <section class="content"></section>
        <footer class="footer"></footer>
    </div>
</body>
</html>