{% load static %}
    <!DOCTYPE html>
    <html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Suas Reservas</title>
        <link rel="stylesheet" href="{% static 'museu-matematica/css/styles.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap" rel="stylesheet">
        </head>
    <body>

        <!-- header do site -->
        {% include 'museu_matematica/header.html' %}
        <h3>Olá, {% firstof user.username %}!</h3>
        <h2>Lista de reservas</h2>
        

        <div id="search-add-wrapper">
            <form method="GET" style="display: flex;">
                <input id="dataEntrada" type="text" name="search-area" value="{{search_input}}">
                <input class="button" type="submit" value="Search">
            </form>
            <p>Procure reservas por meio de Datas de Entrada no formato AAAA-MM-DD</p> 
        </div>

        <div class="reserva-items-wrapper">
            {% for reserva in reservas %}
                <div class="reserva-wrapper">
                    <span>Exposição: </span> {{reserva.exposicao}}
                    <span>Data de entrada: </span> {{reserva.dataEntrada}}
                    <span>Data de saída: </span> {{reserva.dataSaida}}
                    <span>Horário de entrada: </span> {{reserva.horarioEntrada}}
                    <span>Horário de saída: </span> {{reserva.horarioSaida}}
                    <a href="{% url 'reserva-editar' pk=reserva.id %}"><i class="material-icons" style="font-size:15px">border_color</i></a>
                    <a class="delete-link" href="{% url 'reserva-deletar' pk=reserva.id %}">&#215;</a>
                </div>
            {% empty %}
            <div class="reserva-wrapper">
                <h3>Não há nenhuma reserva efetuada.</h3>
            </div>
                
            {% endfor %}
        </div>
    </body>
    </html>
