{% load static %}   
    <!DOCTYPE html>
    <html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register</title>
        <link rel="stylesheet" href="{% static 'museu-matematica/css/styles.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap" rel="stylesheet">
        </head>
    <body>
        <!-- header do site -->
        {% include 'museu_matematica/header.html' %}
        <div class="form-wrapper">
            <h3>Editar reserva de "{{reserva.exposicao}}"</h3>
            <form method="POST", action="">
                <fieldset style="width: max-content;">
                    {% csrf_token %}
                    <table class='formulario'>
                        {{ form.as_table }}
                    </table>
                    <button type="submit">Atualizar</button>
                </fieldset>
            </form>
        </div>
        
         {% block javascript %}
    <script>
        function entradasIguais(e){
            // Recupera o campo
            var campoHorarioEntrada = document.getElementById('id_dataEntrada');
            var campoHorarioSaida = document.getElementById('id_dataSaida');
            var campoDataEntrada = document.getElementById('id_horarioEntrada');
            var campoDataSaida = document.getElementById('id_horarioSaida');

            // Cria o objeto HTTP Request e abre conexão

            var xmlhttp = new XMLHttpRequest();

            xmlhttp.open("GET", "{% url 'museu_matematica:reserva-ajax' %}?hrEntrada=" +
            encodeURIComponent(campoHorarioEntrada.value) + "&hrSaida=" +
            encodeURIComponent(campoHorarioSaida.value) + "&dtEntrada=" +
            encodeURIComponent(campoDataEntrada.value) + "&dtSaida=" +
            encodeURIComponent(campoDataSaida.value)  
            ,true);

            // Função de callback

            xmlhttp.onreadystatechange = function(){
                if(xmlhttp.status == 200 && xmlhttp.readyState == 4){
                    resposta = JSON.parse(xmlhttp.responseText);
                    console.log(resposta) 

                    if(resposta.hrIgual == 'True'){
                        document.getElementById('alertaUsuario').innerHTML = "Campos de horário iguais para o mesmo dia. Por favor, altere os campos."
                    }
                    else{
                        document.getElementById('alertaUsuario').innerHTML = ""
                    }
                }
            };

            // Envia o Request
            xmlhttp.send(null);
        }

        document.getElementById('id_dataEntrada').addEventListener('keyup', function(e){
            entradasIguais(e)
        });

        document.getElementById('id_dataSaida').addEventListener('keyup', function(e){
            entradasIguais(e)
        });

        document.getElementById('id_horarioEntrada').addEventListener('keyup', function(e){
            entradasIguais(e)
        });

        document.getElementById('id_horarioSaida').addEventListener('keyup', function(e){
            entradasIguais(e)
        });
    </script>
    {% endblock %}
        
        
        
    </body>
    </html>
