{% load static %}   
    <!DOCTYPE html>
    <html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register</title>
        <link rel="stylesheet" href="{% static 'museu-matematica/css/styles.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap" rel="stylesheet">
        </head>
    <body>
        <!-- header do site -->
        {% include 'museu_matematica/header.html' %}

        <div class="card-body2">
            <form action="" method="post">
                {% csrf_token %}
                <table>
                    <form action="POST">
                        {% csrf_token %}
                        {{form.as_p}}
                        <input class="button" type="submit" value="Register">
                    </form>
                </table>
            </form>
            <p>Já possui uma conta? <a href="{% url 'login' %}">Login</a></p>
        </div>
    </body>
    </html>
