a {
    text-decoration: none;
    color: inherit;
}

* {
    margin: 0;
    padding: 0;
}

.menu a {
    -webkit-transition: color 0.5s; /* For Safari 3.0 to 6.0 */
    transition: color 0.5s; /* For modern browsers */
}
.menu a:hover {
    color: #C41E1E;
}

:root {
    --color-primary: #C41E1E;
    --color-secondary: #d3a422;
    --color-gray: #888888;
}

body, input, select {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 52px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

.structure {
    display: grid;
    grid-template-areas: 
        "header"
        "headline"
        "description"
        "footer"
    ;
}

.header {
    height: 80px;
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5%;
    border-bottom: 5px solid black;
    font-weight: bold;
}

.header img {
    max-height: 80%;
    max-width: 30%;
}

.header a + a {
    margin-left: 20px;
}

.headline {
    grid-area: headline;
    background: url('/static/museu-matematica/images/museu.jpg') no-repeat center;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid black;
}

.headline h1 {
    color: white;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
    min-width: 80px;
    max-width: 900px;
    padding: 20px;
    text-align: center;
    line-height: 90px;
}

.description {
    grid-area: description;
    max-width: 800px;
    margin: 40px auto;
}

.description p {
    text-align: center;
    font-size: 24px;
}

.footer {
    grid-area: footer;
}

@media (max-width: 1200px) {

}

@media (max-width: 1000px) {
    
}

@media (max-width: 600px) {
    
}